<!DOCTYPE html>
<html>
  <head>
    <title>Speech Recognition</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div id="top-left">
      <span id="restart" onclick="restartSpeechToText()"
        ><b style="color: #a3815c ;font-size:x-large; ">Speech 2 Text Transcription</b></span
      >
    </div>

    <form method="POST" enctype="multipart/form-data">
      <label for="input_type">Select Input Type:</label>
      <select id="input_type" name="input_type">
        <option>Select input type</option>
        <option value="microphone">Microphone</option>
        <option value="audio_file">Audio File</option>
        <option value="video_file">Video File</option>
      </select>
      <br /><br />

      <!-- Microphone input -->
      <div id="microphone_input" class="input_div">
        <button type="submit" name="microphone">Start Microphone Input</button>
      </div>

      <!-- Audio file input -->
      <div id="audio_file_input" class="input_div">
        <label for="audio_file">Upload Audio File:</label>
        <input type="file" id="audio_file" name="audio_file" />
        <button type="submit" name="audio">Recognize Audio</button>
      </div>

      <!-- Video file input -->
      <div id="video_file_input" class="input_div">
        <label for="video_file">Upload Video File:</label>
        <input type="file" id="video_file" name="video_file" />
        <button type="submit" name="video">Recognize Video</button>
      </div>
    </form>

    <hr />
    <div
      id="loading-screen"
      style="
        display: none;
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      "
    >
      Loading...
    </div>
    <h2  style="color: #a3815c ;font-size:large; ">Transcript:</h2>
    <pre>{{ transcript }}</pre>

    <form action="/save_transcript" method="post">
      <input type="hidden" name="transcript" value="{{ transcript }}" />
      <button type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-save-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"
          />
        </svg>
        <br />Save Transcript
      </button>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
